<!-- avatar_url, bio,company,followers,public_repos,url -->

<div class="container d-flex">
  <div class="card" style="width: 18rem">
    <img src="{{ userDetail.avatar_url }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Username: {{ userDetail.login }}</h5>
      <p class="card-text">Bio: {{ userDetail.bio }}</p>
    </div>
    <div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Repositories: {{ userDetail.public_repos }}
        </li>
        <li class="list-group-item">Followers: {{ userDetail.followers }}</li>
        <li class="list-group-item">Company: {{ userDetail.company }}</li>
      </ul>
    </div>
    <div class="card-body">
      <a href="#"><button>Github Profile</button></a>
      <!-- <a href="#" class="card-link">Github link: {{ userDetail.url }} </a> -->
    </div>
  </div>
  <div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Repositories: {{ userDetail.public_repos }}
      </li>
      <li class="list-group-item">Followers: {{ userDetail.followers }}</li>
      <li class="list-group-item">Company: {{ userDetail.company }}</li>
    </ul>
  </div>
</div>
