<!-- avatar_url, bio,company,followers,public_repos,url -->
<br />
<div class="container d-flex random1">
  <div class="card" style="width: 18rem" *ngIf="userDetail">
    <img src="{{ userDetail.avatar_url }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Username: {{ userDetail.login }}</h5>
      <p class="card-text">Bio: {{ userDetail.bio }}</p>
    </div>
    <div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Repositories: {{ userDetail.public_repos }}
        </li>
        <li class="list-group-item">Followers: {{ userDetail.followers }}</li>
        <li class="list-group-item">Company: {{ userDetail.company }}</li>
      </ul>
    </div>
    <div class="card-body">
      <a [href]="userDetail.html_url" target="_blank" class="btn btn-success"
        >Github Profile</a
      >
      <!-- <a href="#" class="card-link">Github link: {{ userDetail.url }} </a> -->
    </div>
  </div>
  <div *ngIf="repos">
    <div *ngFor="let repo of repos">
      <h1>{{ repo.name }}</h1>
      <a [href]="repo.html_url" target="_blank"><p>View repo on Github</p></a>

      <!-- list of all repositories of search results -->
    </div>
  </div>
</div>
